<div class="content-policy">
    <div class="policy">
        <h1 class="title">Términos y Condiciones</h1>
        <h2 class="subtitle">¿Cómo Comprar?</h2>
        <p class="text">Para comprar en nuestra tienda, simplemente navega por nuestro catálogo de productos y selecciona los artículos que deseas adquirir. Una vez que hayas agregado todos los productos a tu carrito, dirígete a la página de pago para completar tu compra.</p>
        <p class="text">Recuerda que puedes crear una cuenta para facilitar futuras compras, pero no es obligatorio. También puedes realizar tu compra como invitado.</p>
        <h2 class="subtitle">Métodos de Pago</h2>
        <p class="text">Aceptamos una variedad de métodos de pago para tu comodidad. Puedes pagar con tarjeta de crédito, débito, PayPal y otros métodos de pago seguros. Asegúrate de seleccionar el método que prefieras al momento de realizar tu compra.</p>
        <h2 class="subtitle">Plazo de entrega de productos</h2>
        <h3 class="subtitle">1. Compras realizadas en nuestro local comercial.</h3>
        <p class="text">Los productos comprados en nuestro local comercial serán entregados de inmediato al cliente, siempre y cuando el producto esté disponible en stock. Si el producto no está disponible, se informará al cliente sobre el tiempo estimado de entrega.</p>
        <h3 class="subtitle">2. Compras realizadas a través de nuestra tienda online.</h3>
        <p class="text">Los productos comprados a través de nuestra tienda online serán entregados en un plazo de 3 a 5 días hábiles, dependiendo de la ubicación del cliente y la disponibilidad del producto. En caso de que el producto no esté disponible, se informará al cliente sobre el tiempo estimado de entrega.</p>
        <h2 class="subtitle">COSTO DE ENVÍOS Y ENVÍOS GRATIS A LIMA Y CALLAO</h2>
        <p class="text">El costo de envío a Lima y Callao es de S/. 10.00. Sin embargo, ofrecemos envíos gratis para compras superiores a S/. 100.00. Para otras regiones, el costo de envío será calculado al momento de realizar la compra.</p>
        <h2 class="subtitle">ENVIOS A PROVINCIA</h2>
        <p class="text">Los envíos a provincia tienen un costo adicional que varía según la ubicación del cliente y el peso del paquete. El costo de envío será calculado al momento de realizar la compra y se informará al cliente antes
        de finalizar la transacción.</p>
        <h2 class="subtitle">Características</h2>
        <p class="text">Los productos ofrecidos en nuestra tienda están sujetos a disponibilidad y pueden variar en características, colores y precios. Nos esforzamos por mantener la información actualizada, pero no garantizamos que todos los productos estén disponibles en todo momento.</p>
        <h2 class="subtitle">Garantía y devoluciones</h2>
        <p class="text">Ofrecemos una garantía de 30 días para todos nuestros productos. Si el producto presenta algún defecto de fabricación, puedes solicitar una devolución o cambio dentro de este plazo. Para más información sobre nuestra política de devoluciones, consulta nuestra sección de Devoluciones.</p>
        <h2 class="subtitle">Validez de la póliza:</h2>
        <p class="text">Esta póliza es válida a partir de la fecha de compra y se aplicará a todas las transacciones realizadas en nuestra tienda, ya sea en el local comercial o a través de nuestra tienda online.</p>
        <h4 class="subtitle">INFORMACIÓN DE PEDIDOS POLÍTICA DE MODIFICACIONES / ANULACIONES DE PEDIDO</h4>
        <p class="text">Una vez que el pedido ha sido confirmado, no se aceptan modificaciones ni anulaciones. Si deseas realizar cambios en tu pedido, te recomendamos que te pongas en contacto con nuestro servicio de atención al cliente lo antes posible para ver si es posible realizar la modificación.</p>
        
    </div>
</div>
<app-footer classBorder="border-top"></app-footer>