form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;
}

form mat-form-field {
    width: 100%;
}

form span {
    font-size: 14px;
    text-decoration: underline;
    text-align: end;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
}

main section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .form-section {
    flex-grow: 0;
    padding: 0 35px;
}

main .form-section img {
    margin-bottom: 30px;
    width: 350px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}