.report-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.report-content mat-card {
  box-shadow: none !important; 
  border: none !important;
}

.chart {
  height: auto;
}

.chart mat-card-header {
  display: block;
}

.chart mat-card-header mat-card-title {
  text-align: center;
}

.chart mat-card-content div {
  height: 500px!important;
}

.chart-50 {
  padding-top: 10px;
  width: 50%;
}

.chart-100 {
  padding-top: 10px;
  width: 100%;
  align-items: center;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.filters mat-form-field {
  margin-right: 10px;
  width: 50%;
}

.container {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  margin: 10px;
}

.count {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
}

@media (max-width: 1090px) {

  .chart-50,
  .chart-100 {
    width: 100%;
  }

  .chart mat-card-content div {
    height: 250px!important;
  }

  .filters mat-form-field {
    width: 100%;
  }

  .container {
    display: contents;
  }
  
  .card {
    width: 90%;
    text-align: center;
    margin: 5px;
  }

}