<mat-dialog-content>
    <div class="catalogo-content">
        <div class="catalogo-header">
            <h1>Catálogo de Materiales</h1>
            <p>Busca el material que deseas ver</p>
        </div>
        <div class="material-list">
            <form [formGroup]="formGroup">
                <input type="text" matInput placeholder="Buscar material" style="display: none;">
                <mat-form-field class="col-100">
                    <mat-label>Material</mat-label>
                    <input type="text" matInput [matAutocomplete]="autoMaterial" formControlName="material" tabindex="-1" (click)="limpiarMaterial()">
                    <mat-autocomplete #autoMaterial="matAutocomplete" [displayWith]="displayMaterial">
                        <mat-option *ngFor="let d of( dataMateriales$ | async)"
                            [value]="d">{{d.nombre}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <p class="description"><strong>Descripción:</strong> {{materialSeleccionado?.descripcion}}</p>

                <div class="details">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                        @for (slide of materialSeleccionado?.detalles; track slide) {
                        <div ngxSlickItem class="slide">
                            <img src="{{ slide.url }}" alt="Imagen referencial" width="40%">
                            <div>
                                <p><strong>Nombre: </strong> {{slide.nombre}}</p>
                                <p><strong>Descripción: </strong> {{slide.descripcion}}</p>
                            </div>
                        </div>
                        }
                    </ngx-slick-carousel>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>