mat-dialog-content {
  max-height: 100%;
}

mat-dialog-content h1 {
  font-weight: 600;
  color: #000;
}

mat-form-field.col-100 {
  width: 100%;
}

.material-list p.description {
  margin-top: 10px;
}

.material-list p strong {
  color: #000;
}

.material-list .details {
    width: 100%;
    height: auto;
}

.material-list .details .slide {
    display: flex;
    gap: 15px;
    align-items: center;
}

@media (max-width: 1090px) {
  .material-list .details .slide {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }

  .material-list .details .slide img {
    align-self: center;
  }
}