<div class="content-policy">
    <div class="policy">
        <h1 class="title">Políticas de no discriminación</h1>
        <p class="text">La empresa se compromete a promover la igualdad de oportunidades y a garantizar un entorno laboral libre de discriminación. La empresa no tolerará ninguna forma de discriminación, acoso o represalias en el lugar de trabajo.</p>
        <p class="text">La empresa se compromete a cumplir con todas las leyes y regulaciones aplicables en materia de igualdad de oportunidades y no discriminación.</p>
        <p class="text">La empresa se compromete a proporcionar un entorno laboral inclusivo y diverso, donde todos los empleados sean tratados con respeto y dignidad.</p>
        <p class="text">La empresa se compromete a proporcionar formación y sensibilización sobre la diversidad y la inclusión a todos los empleados.</p>
        <p class="text">La empresa se compromete a investigar y tomar medidas adecuadas en caso de que se produzcan incidentes de discriminación o acoso en el lugar de trabajo.</p>
        <p class="text">La empresa se compromete a fomentar la diversidad y la inclusión en todas sus prácticas de contratación, promoción y desarrollo profesional.</p>
        <p class="text">La empresa se compromete a proporcionar un entorno laboral seguro y saludable para todos los empleados.</p>
        <p class="text">La empresa se compromete a cumplir con todas las leyes y regulaciones aplicables en materia de salud y seguridad laboral.</p>
        <p class="text">La empresa se compromete a proporcionar formación y sensibilización sobre la salud y la seguridad laboral a todos los empleados.</p>
        <p class="text">La empresa se compromete a investigar y tomar medidas adecuadas en caso de que se produzcan incidentes de salud y seguridad laboral en el lugar de trabajo.</p>
        <p class="text">La empresa se compromete a fomentar la salud y el bienestar de todos los empleados.</p>
        <p class="text">La empresa se compromete a proporcionar un entorno laboral inclusivo y diverso, donde todos los empleados sean tratados con respeto y dignidad.</p>
        <p class="text">La empresa se compromete a proporcionar formación y sensibilización sobre la diversidad y la inclusión a todos los empleados.</p>
        <p class="text">La empresa se compromete a investigar y tomar medidas adecuadas en caso de que se produzcan incidentes de discriminación o acoso en el lugar de trabajo.</p>
        <p class="text">La empresa se compromete a fomentar la diversidad y la inclusión en todas sus prácticas de contratación, promoción y desarrollo profesional.</p>
        <p class="text">La empresa se compromete a proporcionar un entorno laboral seguro y saludable para todos los empleados.</p>
        <p class="text">La empresa se compromete a cumplir con todas las leyes y regulaciones aplicables en materia de salud y seguridad laboral.</p>
    </div>
</div>

<app-footer classBorder="border-top"></app-footer>